.vjs-dvr .vjs-time-control {
    display: none !important;
}
.vjs-dvr .vjs-live-control {
    flex: inherit;
    cursor: pointer;
}
.vjs-dvr .vjs-live-control .vjs-tooltip {
    line-height: 1em;
}
.vjs-dvr-live .vjs-live-control .vjs-tooltip {
    display: none;
}
.vjs-dvr-live .vjs-live-control {
    cursor: default;
}
.vjs-dvr .vjs-live-display:before {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-right: 0.5em;
    background: #566377;
    content: '';
    border-radius: 50%;
}
.vjs-large .vjs-dvr .vjs-live-display:before,
.vjs-fullscreen .vjs-dvr .vjs-live-display:before {
    width: 11px;
    height: 11px;
}
.vjs-dvr-live .vjs-live-display:before {
    background: #f51717;
}
