.video-js .vjs-button.vjs-share-button {
    position: absolute;
    width: 3.6em;
    height: 3.6em;
    top: 1.2em;
    right: 1.2em;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1112;
    background: rgba(28, 28, 28, 0.9);
    background-repeat: no-repeat;
    background-position: 0.6em center;
    background-size: 2em;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xOCAxNi4wOGMtLjc2IDAtMS40NC4zLTEuOTYuNzdMOC45MSAxMi43Yy4wNS0uMjMuMDktLjQ2LjA5LS43cy0uMDQtLjQ3LS4wOS0uN2w3LjA1LTQuMTFjLjU0LjUgMS4yNS44MSAyLjA0LjgxIDEuNjYgMCAzLTEuMzQgMy0zcy0xLjM0LTMtMy0zLTMgMS4zNC0zIDNjMCAuMjQuMDQuNDcuMDkuN0w4LjA0IDkuODFDNy41IDkuMzEgNi43OSA5IDYgOWMtMS42NiAwLTMgMS4zNC0zIDNzMS4zNCAzIDMgM2MuNzkgMCAxLjUtLjMxIDIuMDQtLjgxbDcuMTIgNC4xNmMtLjA1LjIxLS4wOC40My0uMDguNjUgMCAxLjYxIDEuMzEgMi45MiAyLjkyIDIuOTIgMS42MSAwIDIuOTItMS4zMSAyLjkyLTIuOTJzLTEuMzEtMi45Mi0yLjkyLTIuOTJ6Ii8+Cjwvc3ZnPg==);
}

.video-js.vjs-ad-playing .vjs-button.vjs-share-button {
    display: none;
}

.video-js.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-share-button {
    opacity: 0;
    transition: visibility 0.25s, opacity 0.25s;
}

.video-js .vjs-button.vjs-share-button .vjs-tooltip,
.video-js .vjs-modal-dialog.vjs-share-dialog .vjs-close-button .vjs-tooltip {
    top: 3.2em;
}

.video-js .vjs-modal-dialog.vjs-share-dialog {
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1112;
}

.video-js .vjs-modal-dialog.vjs-share-dialog .vjs-modal-dialog-content {
    top: 50%;
    height: 7.6em;
    padding: 0;
    margin-top: -3.8em;
    text-align: center;
    font-size: 1em;
}

.video-js .vjs-modal-dialog.vjs-share-dialog .vjs-share-dialog-title {
    font-size: 1.6em;
    margin-bottom: 0.5em;
}

.video-js .vjs-modal-dialog.vjs-share-dialog .vjs-share-dialog-buttons .vjs-button {
    width: auto;
    height: auto;
    display: inline-block;
}

.video-js .vjs-modal-dialog.vjs-share-dialog .vjs-share-link {
    display: block;
    width: 4.4em;
    height: 4.4em;
    padding: 0.3em;
    background-repeat: no-repeat;
    background-size: 3.4em;
    background-position: center center;
}

.video-js .vjs-modal-dialog.vjs-share-dialog .vjs-share-link svg {
    pointer-events: none;
}

.video-js.vjs-large .vjs-button.vjs-share-button,
.video-js.vjs-fullscreen:not(.vjs-small) .vjs-button.vjs-share-button,
.video-js.vjs-large .vjs-modal-dialog.vjs-share-dialog,
.video-js.vjs-fullscreen:not(.vjs-small) .vjs-modal-dialog.vjs-share-dialog {
    font-size: 150%;
}
